---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Technologies from '../components/Technologies.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Menu from '../components/Menu.astro';
import Projects from '../components/Projects.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
---

<Layout>
  <Header />
  <main class='flex flex-col gap-10'>
    <Menu />
    <About />
    <Technologies />
    <Projects />
    <Contact />
    <Footer />
    <ScrollToTop />
  </main>
</Layout>
