<section
  id='about'
  class='w-full px-[clamp(3rem,_6vw,_6rem)] my-10 relative w-[min(var(--container), 92vw)] mx-auto'
>
  <h2
    class='font-chakra text-[clamp(2rem,_4vw,_3rem)] m-0 mb-5 -tracking-tight font-bold'
  >
    O mnie
  </h2>
  <p class='text-[var(--muted)] max-w-[70ch] mb-4'>
    Inżynier oprogramowania, który łączy pasję do technologii z dbałością o
    detale.
  </p>
  <div class='panel p-10 text-justify space-y-4'>
    <p>
      Jestem frontend developerem z doświadczeniem w tworzeniu aplikacji webowych, które łączą wydajność, intuicyjność i estetykę. Potrafię zadbać zarówno o stronę wizualną, jak i techniczną projektu, dzięki czemu dostarczam rozwiązania, które są nie tylko atrakcyjne, ale też skalowalne i niezawodne.
    </p>
    <p>
      Współpraca ze mną to gwarancja zaangażowania, dbałości o szczegóły i terminowości. Chętnie podejmuję się nowych wyzwań i proponuję rozwiązania dopasowane do indywidualnych potrzeb klienta.
    </p>
    <p>
      Poza frontendem interesuję się również backendem i nowymi technologiami, co pozwala mi patrzeć na projekty całościowo. 
    </p>
    <p>
      Obecnie skupiam się głównie na Frontendzie, pracując z TypeScriptem i
      Reactem
    </p>
  </div>
</section>
