---
const year = new Date().getFullYear();
---
<footer class="w-[min(var(--container), 92vw)] mx-auto py-12 text-[var(--muted)] text-center">
    <div>&copy; {year}, piotrlabiak.pl Wszelkie prawa zastrzeżone</div>
</footer>
