---
const technologies = [
  'TypeScript',
  'JavaScript',
  'React',
  'Remix',
  'Astro',
  'HTML5',
  'SCSS',
  'Tailwind',
  'MUI',
  'Styled Components',
  'Zustand',
  'Context API',
  'TanStack Query',
  'Vite',
  'Vitest',
  'Cypress',
  'Node.js',
  'Express',
  'Git / Github / Gitlab',
  'Figma',
];
---

<section
  id='technologies'
  class='w-full px-[clamp(3rem,_6vw,_6rem)] my-10 relative w-[min(var(--container), 92vw)] mx-auto'
>
  <h2
    class='font-chakra text-[clamp(2rem,_4vw,_3rem)] m-0 mb-5 -tracking-tight font-bold'
  >
    Technologie
  </h2>
  <p class='text-[var(--muted)] max-w-[70ch] mb-4'>
    Frontend przede wszystkim - ale ze świadomością całego stosu.
  </p>
  <ul
    class='grid gap-8
  [grid-template-columns:repeat(1,_minmax(220px,_1fr))]
  sm:[grid-template-columns:repeat(2,_minmax(220px,_1fr))]
  lg:[grid-template-columns:repeat(5,_minmax(220px,_1fr))]'
  >
    {
      technologies.map((tech, index) => (
        <li class='tech' data-aos='flip-left' data-aos-delay={300 + index * 50}>
          {tech}
        </li>
      ))
    }
  </ul>
</section>
